/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Logo de freeCodeCamp */
.freecodecamp-logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.freecodecamp-logo {
  width: 80%; /* Ajuste responsivo */
  max-width: 400px;
  height: auto; /* Ajuste responsivo */
}

/* Media queries para diseño responsivo */
@media (max-width: 768px) {
  h1 {
    font-size: 22px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }
}
